* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

body {
  position: relative;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: var(--text-clr); }

.box-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }

picture {
  display: block; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

.sec-clr {
  color: #c06e65; }

:root {
  --primary-clr: #c39f66;
  --secondary-clr: #c06e65;
  --text-clr: #676767; }

.box-col {
  display: flex;
  flex-direction: column; }

.box-flex {
  display: flex; }

.box-container {
  max-width: 100%;
  margin: 0 auto; }

.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 12px; }
  .page__header-menu {
    cursor: pointer; }
  .page__header-logo {
    flex: 1;
    text-align: center; }
  .page__header-cart {
    position: relative;
    width: 24px;
    height: 100%;
    cursor: pointer; }
    .page__header-cart::after {
      content: "1";
      position: absolute;
      top: -.5rem;
      right: -0.3rem;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 1;
      color: #fff;
      font-weight: 400;
      background: var(--secondary-clr); }

.page__footer {
  padding: var(--ft-pad, 70px 20px 30px);
  background: #f6f6f6; }
  .page__footer .footer-container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .page__footer .box-flex {
    align-items: flex-start; }
  .page__footer .page-title::before {
    left: 0;
    transform: unset;
    width: 60px; }
  .page__footer ul li {
    position: relative; }
    .page__footer ul li::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background: var(--text-clr);
      border-radius: 1000px;
      margin: 2px; }
    .page__footer ul li::after {
      content: "";
      border: 1px solid var(--text-clr);
      display: block;
      width: 10px;
      height: 10px;
      background: transparent;
      border-radius: 1000px; }
    .page__footer ul li::after, .page__footer ul li::before {
      position: absolute;
      top: 0;
      left: 0; }
    .page__footer ul li a {
      font-size: 14px;
      line-height: 16px;
      color: var(--text-clr);
      font-weight: 400;
      padding-left: 14px; }
  .page__footer .footer__item:not(:last-child) {
    margin-right: var(--ft-spacing, 60px); }
  .page__footer .footer__contact li {
    display: flex;
    margin-bottom: 10px; }
    .page__footer .footer__contact li span {
      font-size: 14px;
      line-height: 16px; }
      .page__footer .footer__contact li span:first-child {
        min-width: 86px;
        margin-right: 12px; }
      .page__footer .footer__contact li span:last-child {
        flex: 1;
        max-width: 189px; }
    .page__footer .footer__contact li::before, .page__footer .footer__contact li::after {
      display: none; }
  .page__footer .footer__accounts ul li {
    position: relative; }
    .page__footer .footer__accounts ul li::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background: var(--text-clr);
      border-radius: 1000px;
      margin: 2px; }
    .page__footer .footer__accounts ul li::after {
      content: "";
      border: 1px solid var(--text-clr);
      display: block;
      width: 10px;
      height: 10px;
      background: transparent;
      border-radius: 1000px; }
    .page__footer .footer__accounts ul li::after, .page__footer .footer__accounts ul li::before {
      position: absolute;
      top: 4px;
      left: 0; }
    .page__footer .footer__accounts ul li:not(:last-child) {
      margin-bottom: 4px; }
    .page__footer .footer__accounts ul li a {
      font-size: 14px;
      line-height: 16px;
      color: var(--text-clr);
      font-weight: 400;
      padding-left: 24px; }
  .page__footer .footer__choices {
    display: flex;
    flex-direction: column; }
    .page__footer .footer__choices-products a:not(:last-child) {
      margin-right: 32px; }
  @media only screen and (max-width: 1200px) {
    .page__footer {
      --ft-spacing: 0; }
      .page__footer .footer-container {
        flex-wrap: wrap;
        gap: 24px; } }
  @media only screen and (max-width: 768px) {
    .page__footer {
      --ft-pad: 20px 10px; }
      .page__footer .footer__item {
        flex-basis: calc(50% - 20px); } }
  @media only screen and (max-width: 460px) {
    .page__footer .footer__item {
      flex-basis: 100%; } }

.page {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden; }
  .page-title {
    position: relative;
    display: inline-block;
    font-size: 28px;
    line-height: 32px;
    color: #444;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 30px; }
    .page-title::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 4px;
      background: var(--secondary-clr);
      border-radius: 10px; }
  .page__banner {
    position: relative;
    margin-bottom: 40px; }
    .page__banner .banner__wrapper {
      display: flex;
      align-items: stretch;
      justify-content: center;
      padding: 0 40px 0 20px; }
    .page__banner .banner__products {
      flex-basis: var(--bnleft, 25%);
      margin: var(--bnleftmg, 0 28px 0 0); }
      .page__banner .banner__products .product__item {
        background: #efefef;
        padding: 10px 14px; }
        .page__banner .banner__products .product__item:not(:last-child) {
          margin-bottom: 28px; }
        .page__banner .banner__products .product__item .title {
          display: flex;
          align-items: center;
          justify-content: space-between; }
        .page__banner .banner__products .product__item .img {
          text-align: center;
          margin: 10px 0; }
        .page__banner .banner__products .product__item .info--flex {
          display: flex;
          align-items: center;
          justify-content: space-between; }
        .page__banner .banner__products .product__item .info.box-col {
          justify-content: center;
          margin-left: 12px; }
        .page__banner .banner__products .product__item .info .desc {
          font-size: 12px;
          line-height: 16px;
          margin: 8px 0; }
        .page__banner .banner__products .product__item-btn a {
          font-size: 14px;
          line-height: 1;
          color: var(--text-clr);
          border: 1px solid #ccc;
          padding: 4px 6px; }
    .page__banner .banner__main {
      flex: 1;
      max-width: var(--bnwidth, calc(100% - 25%)); }
    .page__banner .banner__icons {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, 0); }
      .page__banner .banner__icons li {
        cursor: pointer; }
        .page__banner .banner__icons li:not(:last-child) {
          margin-bottom: 24px; }
  .page__features {
    max-width: 1000px;
    margin: 0 auto 40px;
    text-align: center; }
    .page__features .features__list {
      position: relative;
      padding: 0 40px; }
      .page__features .features__list .swiper {
        position: unset; }
        .page__features .features__list .swiper-button-next {
          right: 0; }
        .page__features .features__list .swiper-button-prev {
          left: 0; }
  .page__purchase {
    margin-bottom: 40px;
    text-align: center; }
    .page__purchase .purchase__menu {
      margin-bottom: 30px; }
      .page__purchase .purchase__menu ul {
        display: flex;
        align-items: center;
        justify-content: center; }
      .page__purchase .purchase__menu li {
        position: relative;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 12px;
        cursor: pointer; }
        .page__purchase .purchase__menu li:hover, .page__purchase .purchase__menu li.active {
          color: var(--primary-clr); }
        .page__purchase .purchase__menu li.active::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 30px;
          height: 3px;
          background: var(--primary-clr);
          border-radius: 10px; }
        .page__purchase .purchase__menu li:not(:last-child) {
          margin-right: 24px; }
    .page__purchase .purchase__products {
      max-width: 1200px;
      padding: 0 12px;
      margin: 0 auto; }
      .page__purchase .purchase__products ul {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: var(--pd-gap, 30px 20px); }
        .page__purchase .purchase__products ul > * {
          flex-basis: var(--pd-width, calc(100%/4 - 20px)); }
        @media only screen and (max-width: 600px) {
          .page__purchase .purchase__products ul {
            --pd-width: 100%;
            justify-content: center; } }
  @media only screen and (max-width: 1400px) {
    .page {
      --bnwidth: 70%;
      --bnleft: 30%
    ; } }
  @media only screen and (max-width: 1200px) {
    .page {
      --bnwidth: 100%;
      --bnleft: 100%; }
      .page .banner__wrapper {
        flex-direction: column-reverse;
        --bnleftmg: 28px 0 0; } }
  @media only screen and (max-width: 992px) {
    .page {
      --pd-gap: 20px;
      --pd-width: calc(100%/2 - 20px); } }

.badge {
  display: inline-block;
  background: var(--primary-clr);
  font-size: 14px;
  line-height: 1;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px; }
  .badge--sale {
    background: var(--secondary-clr); }

.features__swiper {
  padding-bottom: 60px; }
  .features__swiper .swiper-button-next::after,
  .features__swiper .swiper-button-prev::after {
    display: none; }
  .features__swiper .swiper-button-next::before,
  .features__swiper .swiper-button-prev::before {
    content: "next";
    font-size: 14px;
    line-height: 1;
    color: #676767;
    letter-spacing: 1.5px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    top: unset;
    border: 1px solid #c1c1c1;
    padding: 4px; }
  .features__swiper .swiper-button-next::before {
    content: "next"; }
  .features__swiper .swiper-button-prev::before {
    content: "prev"; }

.banner__swiper {
  height: -webkit-fill-available;
  max-height: 100%; }
  .banner__swiper .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #f6f4f3; }
    .banner__swiper .wrapper .swiper-img img {
      max-width: var(--pd-img, 360px); }
      @media only screen and (max-width: 768px) {
        .banner__swiper .wrapper .swiper-img img {
          --pd-img: 200px; } }
    .banner__swiper .wrapper > * {
      flex-basis: 50%; }
    @media only screen and (max-width: 768px) {
      .banner__swiper .wrapper {
        padding: 20px 0;
        flex-direction: column; } }
  .banner__swiper .swiper-content {
    padding-right: 20px; }
    .banner__swiper .swiper-content .subtitle {
      font-size: 20px;
      line-height: 24px; }
      @media only screen and (max-width: 768px) {
        .banner__swiper .swiper-content .subtitle {
          font-size: 16px;
          line-height: 20px; } }
    .banner__swiper .swiper-content .title {
      font-size: 46px;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 1.5px;
      padding: 4px 0; }
      @media only screen and (max-width: 768px) {
        .banner__swiper .swiper-content .title {
          font-size: 26px; } }
    .banner__swiper .swiper-content .desc {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: var(--desc-margin, 30px);
      max-width: 410px; }
    @media only screen and (max-width: 768px) {
      .banner__swiper .swiper-content {
        padding: 20px;
        --desc-margin: 10px; } }
  .banner__swiper .swiper-button-next i,
  .banner__swiper .swiper-button-prev i {
    position: absolute;
    top: 50%;
    font-size: 14px;
    line-height: 1;
    color: #676767;
    z-index: 1; }
  .banner__swiper .swiper-button-next::after,
  .banner__swiper .swiper-button-prev::after {
    display: none; }
  .banner__swiper .swiper-button-next::before,
  .banner__swiper .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; }
  .banner__swiper .swiper-button-next {
    right: -4px; }
    .banner__swiper .swiper-button-next::before {
      border-right: 30px solid #fff; }
  .banner__swiper .swiper-button-prev {
    left: -4px; }
    .banner__swiper .swiper-button-prev::before {
      border-left: 30px solid #fff; }

.swiper-pagination-bullets {
  left: unset;
  right: 3%;
  text-align: right; }

.swiper-pagination-bullet-active {
  background: var(--secondary-clr); }

.product {
  display: block;
  overflow: hidden;
  cursor: pointer; }
  .product-info .box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .product-info .box-col {
    white-space: nowrap; }
    .product-info .box-col:first-child {
      text-align: left; }
    .product-info .box-col:last-child {
      text-align: right; }
  .product-img {
    position: relative;
    height: 100%;
    margin-bottom: 24px; }
    .product-img.img--small {
      max-width: var(--pd-width, 235px); }
    .product-img.img--normal {
      max-width: 100%; }
    .product-img img {
      max-width: 100%; }
    .product-img .badge {
      position: absolute;
      top: 12px;
      left: 12px; }
  .product-name {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 4px; }
  .product-category {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 4px; }
  @media only screen and (max-width: 992px) {
    .product {
      --pd-width: 100%; } }

.rating i {
  font-size: 10px;
  line-height: 1;
  color: var(--secondary-clr); }

.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  color: var(--text-clr);
  font-weight: 400;
  border: 1px solid #ccc; }
  .btn-small {
    padding: 4px 6px; }
  .btn-medium {
    padding: 12px 16px; }
