.page {
    &-title {
        position: relative;
        display: inline-block;
        @include fontfull(28px, 32px, #444, 500);
        padding-bottom: 20px;
        margin-bottom: 30px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 4px;
            background: #c06e65;
            border-radius: 10px;
        }
    }

    &__header {
        @include flexBetween();
        padding: 9px 12px;

        &-logo {
            flex: 1;
            text-align: center;
        }

        &-cart {
            position: relative;
            width: 24px;
            height: 100%;

            &::after {
                content: "1";
                position: absolute;
                top: -.5rem;
                right: -0.3rem;
                display: flex;
                align-items: center;
                border-radius: 50%;
                height: 1rem;
                justify-content: center;
                width: 1rem;
                font-size: 12px;
                line-height: 1;
                color: #fff;
                background: #c27269;
            }
        }
    }

    &__banner {
        position: relative;
        margin-bottom: 40px;

        .banner__wrapper {
            @include flexCenter();
            padding: 0 40px 0 20px;
        }

        .banner__products {
            flex-basis: 25%;
            margin-right: 28px;

            .product__item {
                background: #efefef;
                padding: 10px 14px;

                &:not(:last-child) {
                    margin-bottom: 28px;
                }

                .title {
                    @include flexBetween();
                }

                .img {
                    text-align: center;
                    margin: 10px 0;
                }

                .info {
                    &--flex {
                        @include flexBetween();
                    }

                    &.box-col {
                        justify-content: center;
                        margin-left: 12px;
                    }

                    .desc {
                        @include fontlh(12px, 16px);
                        margin: 8px 0;
                    }
                }

                &-btn {
                    a {
                        @include font(14px, 1, #676767);
                        border: 1px solid #ccc;
                        padding: 4px 6px;
                    }
                }
            }
        }

        .banner__main {
            flex: 1;
            max-width: calc(100% - 25%);
        }

        .banner__icons {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, 0);

            li {
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
            }
        }
    }

    &__features {
        max-width: 1000px;
        margin: 0 auto 40px;
        text-align: center;
    }
&__purchase {
    margin-bottom: 40px;
    text-align: center;

    .purchase__menu {
        margin-bottom: 30px;

        ul {
            @include flexCenter();
        }

        li {
            position: relative;
            @include fontlh(14px, 20px);
            padding-bottom: 12px;
            cursor: pointer;

            &:hover,
            &.active {
                color: #c39f66;
            }

            &.active {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30px;
                    height: 3px;
                    background: #c39f66;
                    border-radius: 10px;
                }
            }

            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }

    .purchase__products {
        max-width: 1200px;
        padding: 0 12px;
        margin: 0 auto;

        ul {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px 20px;

            &>* {
                flex-basis: calc(100%/4 - 20px);
            }
        }
    }
}

&__footer {
    padding: 70px 20px 30px;
    background: #f6f6f6;

    .box-flex {
        align-items: flex-start;
    }

    .page-title {
        &::before {
            left: 0;
            transform: unset;
            width: 60px;
        }
    }

    ul {
        li {
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                background: #676767;
                border-radius: 1000px;
                margin: 2px;
            }

            &::after {
                content: "";
                border: 1px solid #676767;
                display: block;
                width: 10px;
                height: 10px;
                background: transparent;
                border-radius: 1000px;
            }

            &::after,
            &::before {
                position: absolute;
                top: 0;
                left: 0;
            }

            a {
                @include fontfull(14px, 16px, #676767, 400);
                padding-left: 14px;
            }
        }
    }

    .footer__item {
        &:not(:last-child) {
            margin-right: 60px;
        }
    }

    .footer__contact {
        li {
            @include flexAlignBetween();
            margin-bottom: 10px;

            span {
                @include fontlh(14px, 16px);

                &:first-child {
                    min-width: 86px;
                    margin-right: 12px;
                }

                &:last-child {
                    flex: 1;
                    max-width: 189px;
                }
            }

            &::before,
            &::after {
                display: none;
            }
        }
    }

    .footer__accounts ul {
        li {
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                background: #676767;
                border-radius: 1000px;
                margin: 2px;
            }

            &::after {
                content: "";
                border: 1px solid #676767;
                display: block;
                width: 10px;
                height: 10px;
                background: transparent;
                border-radius: 1000px;
            }

            &::after,
            &::before {
                position: absolute;
                top: 4px;
                left: 0;
            }

            &:not(:last-child) {
                margin-bottom: 4px;
            }

            a {
                @include fontfull(14px, 16px, #676767, 400);
                padding-left: 24px;
            }
        }
    }
}

.footer__choices {
    @include flexColumn();

    &-products {
        a:not(:last-child) {
            margin-right: 32px;
        }
    }
}
}