.badge {
    display: inline-block;
    background: var(--primary-clr);
    font-size: 14px;
    line-height: 1;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;

    &--sale {
        background: var(--secondary-clr);
    }
}